.top-nav-collapse {
    background-color: #7c2f24;
}
.footercolor {
    background-color: #7c2f24;
}
.bannercolor {
    background-color: #f57c00f0;
}

@media only screen and (max-width: 500px) {
    .navbar:not(.top-nav-collapse) {
        background: #7c2f24;
    }
}

.fixcontact {
    width: 235px;
    height: 113px;
    z-index: 1;
    position: fixed;
    right: 0;

}

.contacktrow {
    padding-right: 0;
}
